

# ignore csv files
csv/
*.csv


#lstm
src/models/LSTM/model/
*.hdf5

#svm
src/models/svm/3d hyperbola.txt


# src/reference
src/reference/*.docx
src/reference/*.zip
*.docx
*.zip
*.docx
src/references/DAY 1-20221008T045249Z-001/DAY 1/*
